<?xml version="1.0"?>
<robot name="abitobot" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="utils" >

    <material name="gray">
      <color rgba="0.11765 0.12549 0.12549 1.00000" />
    </material>
    <material name="black">
      <color rgba="0.00000 0.00000 0.00000 1.00000" />
    </material>
    <material name="yellow">
      <color rgba="1.00000 1.00000 0.00000 1.00000" />
    </material>
    <material name="blue">
      <color rgba="0.00000 0.00000 1.00000 1.00000" />
    </material>

  </xacro:macro>
</robot>